{% extends 'base.html' %}

{% block content  %}

<h1>To Do</h1>

<p> 
<!-- Search formulariu -->
<form action="{% url 'search_task' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</p>
<!--Hatudu total tasks ne'ebe kria ona-->
<h3>Total task ne'ebe kria ona hamutuk: {{ tasks_count }}</h3>

<!-- Lista ba tasks sira -->
<a href="{% url 'kria' %}">Kria Tasks</a>
<p>
{% for task in tasks %}
    <a href="{% url 'detallu' task.id %}">
        {% if task.kompleta == True %}
        <li><strike>{{ task.titlu }}</strike></li>
        {% else %}
        <li>{{ task.titlu }}</li>
        {% endif %}
    </a>
{% endfor %}
<p>
</p>

<!--Hatudu pajina-->
{% if tasks.has_other_pages %}

    <div class="pagination">
    {% if tasks.has_previous %}
      <a href="?page={{ tasks.previous_page_number }}">&laquo;</a>
    {% else %}
      <div class="disabled"><span>&laquo;</span></div>
    {% endif %}
    </div>

    {% for i in tasks.paginator.page_range %}
      <div class="pagination">
      {% if tasks.number == i %}
          <div class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></div>
      {% else %}
        <div><a href="?page={{ i }}">{{ i }}</a></div>
      {% endif %}
      </div>
    {% endfor %}

    <div class="pagination">
    {% if tasks.has_next %}
      <a href="?page={{ tasks.next_page_number }}">&raquo;</a>
    {% else %}
      <div class="disabled"><span>&raquo;</span></div>
    {% endif %}
    </div>
{% endif %}

<style>
.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
}

</style>

{% endblock %}
